@import "resources";

html,
#app,
body {
  width: 100%;
  height: 100%;
  --color-black: #000;
  --color-white: #fff;
  --color-background: #f7f8fd;
  --color-primary: #3f2390;
  --color-primary-light: #8155b9;
  --color-danger: #f56c6c;
  --color-success: #67c23a;
  --color-divider: #dcdfe6;
  --color-card: #fff;
  --color-switch: #000;
}

body {
  font-family: $font--main;
  overflow-y: hidden;
}

.h1,
h1 {
  @include text-h1;

  color: var(--color-primary);
  margin-bottom: 15px;

  @media (max-width: 768px) {
    margin-bottom: 5px;
    font-size: 20px;
  }
}

.h2,
h2 {
  @include text-h2;
}

.h3,
h3 {
  @include text-h3;
}

.text {
  &-lg {
    @include text-lg;
  }

  &-md {
    @include text-md;
  }

  &-sm {
    @include text-sm;
  }
}

.bold {
  font-weight: 700 !important;
}

.c-p {
  cursor: pointer !important;
}

// Margins | Paddings
@include sizes-classes;

// Global classes
@include project-classes;
